::ng-deep {
  th {
    color: #8C95A3;
    font-size: 14px;
    padding-block: 15px;
  }



  tbody tr {
    font-size: 0.9rem;
  }

  tbody tr td {
    padding: 1rem;

  }

table {
  border-collapse: separate !important;
  border-spacing: 0 10px;
  border-radius: 10px !important;
  border-color: #8C95A336;
}

.p-element .p-inputwrapper {
  display: none;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-last  {
display: none !important;
}
}
.btn-details{
  color:#359A9C ;
  background-color: #359A9C2B;
}
