  <div class=" container mt-4 d-lg-block d-none">
    <p-table [columns]="cols" [value]="products"  [paginator]="true"
  [rows]="4"
  [rowsPerPageOptions]="[7]"
  [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header |translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr >
                <td *ngFor="let col of columns">
          <ng-container *ngIf="col.field !== 'actions'; else actionsTpl">

                    {{ rowData[col.field] |translate}}
                    </ng-container>
                     <ng-template #actionsTpl>
            <button class="btn btn-details">
              {{'client.details'|translate}}
            </button>
          </ng-template>
                  </td>

            </tr>
        </ng-template>
    </p-table>

</div>
