<div class="card border-0 mt-4">
  <h5 class="p-2">{{"chart.targetVsActual"|translate}}</h5>

    <p-chart type="bar" class="custom-chart" [data]="data" [options]="options"  />
<div class="d-flex gap-3 align-items-center mt-3">
  <img src="/assets/imgs/Frame 37.svg" alt="">
  <div >

    <h6>{{'chart.actualSales'|translate}}</h6>
    <small class="m-0 text-secondary">{{'chart.globalSales'|translate}}</small>
  </div>
  <span class="fw-medium price-color" >8.823</span>
</div>
<div class="d-flex gap-3 align-items-center mt-3">
 <img src="/assets/imgs/Frame 38.svg" alt="">
 <div>
    <h6>{{'chart.targetedSales'|translate}}</h6>
    <small class="m-0 text-secondary">{{'chart.commercial'|translate}}</small>

 </div>
  <span class="fw-medium price-color1" >12.122</span>

</div>
</div>

