<div class="container">

  <div class="border-0 head" style="height: 50px;">

    <div class="row">

    <div class="col-8">

      <h5 class="fw-normal text-capitalize title h-100 d-flex align-items-center ps-3">{{'info.hello' |translate}}</h5>
    </div>
    <div class="col-2">

      <ng-container>

        @if(language()=='ar'){
           <a title="language" class="fw-bold h-100 d-flex align-items-center justify-content-center" (click)="changeLanguage('en')">English</a>
           }@else{
           <a title="language" class="fw-bold" (click)="changeLanguage('ar')">العربية</a>
           }
      </ng-container>
    </div>
    <div class="col-2">
    <h6 class="text-capitalize">{{'info.name'|translate}}</h6>
    <small class="text-capitalize admn m-0 ">{{'info.admin'|translate}}</small>
    </div>

    </div>
  </div>



    <div class="row justify-content-between mt-4 ms-3 bg-light">
  <div class="col-4">

    <h6>{{"dashboard.clients" |translate}}</h6>
  </div>
  <div class="col-8">
  <div class="d-flex gap-3 justify-content-end">
      <button class="btn add-btn text-white">+ {{'client.add' |translate}}</button>
    <div class="p-1 bg-white d-flex gap-3 align-items-center">
      <i class="pi pi-bars p-2"></i>
      <i class="pi pi-objects-column"></i>

    </div>
    <div class="position-relative w-50 ">
    <i class="pi pi-search position-absolute"></i>
      <input class="form-control me-2" type="search" [placeholder]="'client.search'|translate" aria-label="Search">
    </div>
  </div>

  </div>




    </div>
</div>
