
.container-fluid{
  height: 100vh;

}
.main-content{
  margin-left: 240px;
  width: 100%;
}


.nav-link{
  color:#4B5675;

  }

.router-link-active{
color: white;
  background-color: #359A9C !important;
border: 0px;
}


