.sideBar{
  position: fixed;
border-radius: 5px;
width: 240px;
min-height: 98vh;

  background: linear-gradient(to bottom,  #0A2527EB ,#287676 );;
}
.item{
  color:white
}
li.active{
background-color:rgb(202 236 216);
border: 1px solid;
color:  #359A9C !important;
border-radius: 5px;
}
li.active .item {
  color: #359A9C !important;
}

