

  <!-- dynamic table -->
 <app-dynamic-table></app-dynamic-table>

<app-clients-details></app-clients-details>
<!--
<div class="card flex justify-content-center">
    <p-paginator
        locale="en-US"
        (onPageChange)="onPageChange($event)"
        [first]="1"
        [rows]="2"
        [totalRecords]="7"
        />
</div>

<div class="card flex justify-content-center">
    <p-paginator
        locale="fa-IR"
        (onPageChange)="onPageChange($event)"
        [first]="1"
        [rows]="2"
        [totalRecords]="7"
        />
</div> -->


