/* You can add global styles to this file, and also import other style files */
// @import 'variables.scss';
// @import 'styles';


// English Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Arabic Font
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  font-family: "Roboto", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.dropdown-toggle:after {
  display: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.text-main-color {
  color: var(--text-main-color);
}
input:checked {
  accent-color: var(--text-main-color);
}

.fs-6-1 {
  font-size: 0.9rem;
}

.fs-6-2 {
  font-size: 0.87rem;
}
.form-control:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
}

[dir="rtl"] {
  text-align: right;
  direction: rtl;
// .dropdown-menu{
//   right: 0 !important;left: inherit !important;
// }
  body {
    font-family: "Cairo", sans-serif;
  }
  .ms-2 {
    margin-right: 0.5rem !important;
    margin-left: initial !important;
  }

  .text-start {
    text-align: right !important;
  }
  .pi {
    transform: scaleX(-1);
  }
  .form-control.is-invalid {
    padding-left: calc(1.5em + 0.75rem);
    padding-right: 0.75rem;
    background-position: left calc(0.375em + 0.1875rem) center;
  }
}

[dir="ltr"] {
  text-align: left;
  direction: ltr;
}
// Scrollbar
::-webkit-scrollbar {
  width: 0.3125rem;
}

::-moz-scrollbar {
  width: 0.3125rem;
}

::-o-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.25rem;
}

::-moz-scrollbar:horizontal {
  height: 0.25rem;
}

::-o-scrollbar:horizontal {
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

::-moz-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

::-o-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

::-o-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc143c4d;
}

::-moz-scrollbar-thumb:hover {
  background: #dc143c4d;
}

::-o-scrollbar-thumb:hover {
  background: #dc143c4d;
}

.p-scroller,
.p-dropdown-items-wrapper {
  margin: 5px 10px !important;
  &::-webkit-scrollbar-thumb {
    background: #dc143c4d;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    max-height: 80% !important;
  }
}
@media (max-width: 1080px) {
  .container {
    margin: auto;
    max-width: 95% !important;
  }
}

